html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
	font-size:.5rem;
	 overflow: hidden;
}

.content{
	padding:.5em;
}
.brand-image{
	height:3em;
}
.top-nav{
	border-bottom: .25em solid #e61b33;
}

thead,.table-head{
	background-color: #e61b33;
	color: white;
	font-weight: 400;
}

.video-content{
  padding-top: 3em;
  width: 100%;
  height: 100%;
}

.video-content  iframe {
  width: 98%;
  height: 100%;

}
.running-text{
	background-color:#e61b33; 
	padding: .5em 1em;
	position: absolute;bottom: 0; left: 0; width: 100%
}
.running-content{
	font-size: 1rem;
	font-color:white;
	font-weight: 400;
}

.bg-red{
	background-color: #e61b33;
	color:white;
	font-weight: 600;
	width: 30%;
}